*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    width: 100vw;
    height: 100vh;
    background: rgb(213, 225, 236);
    color: #fff;
    font-family: sans-serif;
}
.numPad{
    border-radius: 10px;
    background: rgba(0, 17, 255, 0.699);
    padding: 25px;
    margin: 75px;
}
.numPad .disp{
  border-bottom: 2px solid darkblue;
}
.numPad .disp input{
  width: 300px;
  padding: 20px;
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: aliceblue;
  font-size: 2em;  
}
.key{
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 14px 40px;
  text-decoration: none;  
  box-shadow: 0 8px 16px 0 rgba(62, 41, 255, 0.2), 0 6px 20px 0 rgba(9, 172, 221, 0.19);
  color: rgb(245, 237, 237);
}
.key:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.key:active {
  background: rgba(0, 0, 0, 0.25);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(61, 159, 216, 0.815);
    border-radius: 12px;
  }
  .navbar-list ul{
    margin: 0;
    padding: 0;
    display: flex;
    padding-right: 10px;
  }
  .navbar-list li{
    list-style: none;
  }
  .navbar-list a{
    text-decoration: none;
    color: rgb(241, 241, 241);
    padding: 1rem;
    display: block;
  }
  .navbar-list li a:hover:not(.active) {
    background-color: rgba(0, 160, 253, 0.815);
    border-radius: 12px;
  }
  .navbar-list li a.active {
    background-color: rgba(67, 183, 250, 0.884);
    border-radius: 12px;
  }
  .header{
    font-weight: bold;
    font-size: 1.5rem;    
    background-color: rgba(61, 159, 216, 0.815);
    margin-bottom: 50px;
    max-width: 100%;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    padding-left: 10px;
  }
  .footer{    
    font-weight: bold;
    font-size: 1.5rem;    
    background-color: rgba(61, 159, 216, 0.815);
    width: 100%;    
    text-align: center;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    border: 3px solid #c5fffc;

  }
  .button{
    padding: 14px 40px;
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 250px;   
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;     
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    border-radius: 12px;
    background: rgba(61, 159, 216, 0.815);
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgb(0, 247, 255), 0 17px 50px 0 rgb(0, 247, 255);
  }  
  .aboutContent{
    padding: 14px 40px;
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 700px;   
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background: #1aa3c5;
    border-radius: 10px;
    padding: 10px 10px;
    
  }
  .hor{
    display: inline-flex;
    margin: auto;
    position:relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -20%);
  }  
  canvas{
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: auto;
    margin-top: 10px;
    max-width: 800px;
}
h3{
    font-weight: bold;
    font-size: 1.5rem;    
    background-color: rgba(61, 159, 216, 0.815);
    margin: auto;
    width: 600px;
    text-align: center;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    padding: 10px 10px;    
}
input{
  border: none;
  border-bottom: 2px solid rgb(0, 225, 255);
  background-color: lightblue;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  border-radius: 10px;
  padding: 25px 25px;
}
.field{
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  background: #1aa3c5;
  border-radius: 10px;
  padding: 25px 25px;
  border: #ffffff;  
}
label{
  padding-right: 40px;
}
span{
  font-size: small;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  background: #1aa3c5;
}
.userInfo{
  margin-bottom: 50px;
  margin-top: 0px;
}
select{
  max-width: 400px;
  margin: auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  background: #1aa3c5;
  border-radius: 10px;
  padding: 25px 25px;
  border-bottom: 2px solid rgb(0, 225, 255);
  background-color: lightblue;
}
table{
  border-collapse: collapse;
  font-size: .9em;
  min-width: 400px;
  font-weight: bold;
  max-width: 500px;
  margin: auto;  
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  background: #1aa3c5;
  border-radius: 10px;
  padding: 25px 25px;
  border: #ffffff;
}
table td{
  padding: 12px 15px;
  text-align: center;
}

table tr:last-of-type{
  border-bottom: 2px solid ;
}
th{
  padding: 10px 25px;
}
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
.progressInfo{  
  background: none;
  text-align: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 24px;
  max-width: 100%;
  display: flex;
}
.start{
  padding-top: 20px;
  color: rgb(1, 5, 5);
  background: none;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(3, 41, 255);
  background: none;
  text-align: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 24px;
  max-width: 100%;
}
.last{
  padding-top: 20px;
  color: rgb(1, 5, 5);
  background: none;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(3, 41, 255);
  background: none;
  text-align: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 24px;
  max-width: 100%;
}
.goal{
  padding-top: 20px;
  color: rgb(1, 5, 5);
  background: none;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(3, 41, 255);
  background: none;
  text-align: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 24px;
  max-width: 100%;
}
#welcomeMessage{
  color: black;
  margin-left: 10px;
  margin-bottom: 50px;
}
h2{
  margin: auto;
  margin-bottom: 0px;
  align-items: center;
  font-size:xx-large;
  text-align: center;
  max-width: 800px;
  padding: 15px 15px;
  background-color: rgba(61, 159, 216, 0.815);
}
.perTrack{
  margin-top: 10px;
}